#{extends 'main.html' /}
<div id="summary">

    <H2>Summary: </H2>
    <div class="content">

        #{list items:allResults, as: 'results'}

            #{if results.errors}
                <H3 class="e">
                    <a href="#a${results.type}" class="summary">
                        ${results.type} - Error.
                    </a>
                </H3>
            #{/if}

            #{if results.results}
                <H3 class="${results.allPassed?'y':'n'}">
                    <a href="#a${results.type}" class="summary">
                        ${results.type} - ${results.allPassed?"All tests Passed.":"Mismatch."}
                    </a>
                </H3>
            #{/if}

        #{/list}

        #{if lab42results }
            #{if lab42results.errors}
                <H3 class="e"> <a href="#a4.2" class="summary"> 4.2 - Error. </a> </H3>
            #{/if}

            #{if lab42results.results}
                <H3 class="${lab42results.allPassed?'y':'n'}">
                    <a href="#a4.2" class="summary">
                        4.2 - ${lab42results.allPassed?'All tests Passed.':'Mismatch.'}
                    </a>
                </H3>
            #{/if}
        #{/if}

    </div>
</div>

<div id="page">
    <H2>Details: </H2>
    #{list items:allResults, as: 'results'}
        <div class="content">
            #{if results.errors}
                <H3 class="e"> <a name="a${results.type}">${results.type} - Error.</a></H3>
                #{table results.errors, as: 'msg', class: 'errMsgs'}
                    #{column 'Errors:'} ${msg} #{/column}
                #{/table}

                #{if results.warnings}
                    <p>
                        #{table results.warnings, as: 'msg', class: 'errMsgs'}
                    #{column 'Warnings:'} ${msg} #{/column}
                #{/table}
                    </p>
                #{/if}
            #{/if}

            #{if results.results}
                <H3 class="${results.allPassed?'y':'n'}">
                    <a name="a${results.type}">
                        ${results.type} - ${results.allPassed?"All tests Passed.":"Mismatch."}
                    </a>
                </H3>

                #{if results.warnings}
                    <p>
                        #{table results.warnings, as: 'msg', class: 'errMsgs'}
                    #{column 'Warnings:'} ${msg} #{/column}
                #{/table}
                    </p>
                #{/if}

                #{table results.results, as: 'result', class: 'results'}
                    #{column 'Input'}     <div class="${result.match?'y':'n'}" >${result.input} </div>            #{/column}
                    #{column 'Expected'}  <div class="${result.match?'y':'n'}" >${result.expected}  </div>        #{/column}
                    #{column 'Actual'}    <div class="${result.match?'y':'n'}" >${result.actual} </div>           #{/column}
                    #{column 'Match?'}    <div class="${result.match?'y':'n'}" >${result.match?'Yes':'No'}</div>  #{/column}
                #{/table}
            #{/if}
        </div>
    #{/list}

    #{doLayout /}
</div>
