#{extends 'Application/abstractResults.html' /}

#{if lab42results }
    <div class="content">

        #{if lab42results.errors}
            <H3 class="e"><a name="a4.2"> 4.2 - Error. </a></H3>
            #{table lab42results.errors, as: 'msg', class: 'errMsgs'}
                #{column 'Errors:'} ${msg} #{/column}
            #{/table}
        #{/if}

        #{if lab42results.results}
            <H3 class="${lab42results.allPassed?'y':'n'}">
                <a name="a4.2">
                    4.2 - ${lab42results.allPassed?'All tests Passed.':'Mismatch.'}
                </a>
            </H3>

          #{table lab42results.results, as: 'result', class: 'results'}
              #{column 'Input'} <div class="${result.match?'y':'n'}" >${result.input} </div> #{/column}
              #{column 'State'} <div class="${result.match?'y':'n'}" >${result.finalState} </div> #{/column}
              #{column 'Output String'} <div class="${result.match?'y':'n'}" >${result.actual} </div> #{/column}
              #{column 'Expected'} <div class="${result.match?'y':'n'}" >${result.expected}  </div> #{/column}
              #{column 'Halted?'} <div class="${result.match?'y':'n'}" >${result.terminated?'Yes':'No'} </div> #{/column}
              #{column 'Parked?'} <div class="${result.match?'y':'n'}" >${result.parked?'Yes':'No'} </div>  #{/column}
              #{column 'Match?'} <div class="${result.match?'y':'n'}" >${result.match?'Yes':'No'}</div> #{/column}
          #{/table}
      #{/if}

    </div>
#{/if}
